</main>
<footer>
 <p class="footer" id="footer">Created by Hanna</p>  
 <a href="https://www.instagram.com/hannaofficial26/" target="_blank"><img src="https://media.licdn.com/dms/image/D5603AQFao5448us8TA/profile-displayphoto-shrink_200_200/0/1711003422357?e=1717632000&v=beta&t=4GKNmQwyKUm7IE-xB6bjWy9Dm6NhhyohFch6jBvpyAA" alt="blog_pic" class="pic"></a>
 
</footer>
</body>

</html>